body {
    background-color: thistle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.resource-card{
    border: 2;
    border-radius: 80%;
    border-color: indigo;
    border-style: dashed;
}

img{
    width: 200px;
}